<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>文章页面</title>
</head>
<script type="text/javascript" src="js/jquery-3.2.1.min.js" />
<script type="text/javascript" src="js/hashids.min.js"/>

<body>

<form style="text-align: center">

    <input type="radio" name="no" value="1" />第一个 <br/>
    <input type="radio" name="no" value="2" />第二个 <br/>
    <input type="radio" name="no" value="3" />第三个 <br/>

    <input type="radio" name="no" value="4" />第四个 <br/>
    <input type="radio" name="no" value="5" />第五个 <br/>
    <input type="radio" name="no" value="6" />第六个 <br/>

    <input type="radio" name="no" value="7" />第七个 <br/>
    <input type="radio" name="no" value="8" />第八个 <br/>
    <input type="radio" name="no" value="9" />第九个 <br/>

    <input type="button" id="submit" value="选择" />
    <input type="reset" value="重置" />


</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function () {

            var no=$("input[name='no']:checked").val();
            var hashids=new Hashids("my salt is pig ",15);
            var encode=hashids.encode(no);
            console.log(encode);
            console.log(hashids.decode(encode));
            window.location.href="/blog?id="+encode;
        })
    })
</script>
</body>
</html>